<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <form method="post" action="/home/Add">
            <div class="row">
                <div class="col-md-3">
                    <h4>Paste URL here</h4>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" rows="2" name="url" style="margin-top:25px"></textarea>
                    <br />
                </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <h4>Name</h4>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" />
                <br />
            </div>
    </div>
    <div class="row">
        <div class="offset-md-3"> <button class="btn btn-primary">Submit</button></div>
    </div>

    </form>
    </div>

</body>
</html>
