@model Images.data.User
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <img src="@Model.URL" style="width:700px; height:700px" />
            <h4>Posted by @Model.Name</h4>
        </div>
    </body>
    </html>

